<div class="container">

    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="Email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input id="Password" type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input id="RememberMe" type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input type="button" class="btn btn-lg btn-primary btn-block" id="LoginBtn" value="ログイン" />
        <span class="btn btn-lg btn-danger btn-block" id="AddUserBtn">ユーザー登録</span>
    </form>
    <p class="AreaLoadingContents">Loading...</p>
</div> <!-- /container -->
