$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.disnone {
    display: none;
}

.star-empty {
    color: #cccccc;
}
.star {
    color: #33cccc;
}

.header {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;

    h3 {
        padding-bottom: 19px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.form-signin {
    max-width: 350px;
}

.form-inline {
    margin: 30px 0;
}

.delete-task {
    cursor: pointer;
    color: #666666;
    padding-right: 20px;
}
